<%- include('partials/header'); -%>
<!-- <div class="col-lg-6">
  <img class = "title-image" src="Images\Payments.jpg" alt="iphone-mockup">
</div> -->
<div class="row">
  <div class="col-lg-6">
    <img class = "title-image" src="Images\Payments.jpg" alt="iphone-mockup">
  </div>
    <div class="col-lg-6" style="padding-top: 100px; padding-left: 150px; text-align:left;">
      <h1 class="title-text text1"> Trust your money with us</h1>
      <form action="/Customers" method="get">
        <input class="btn btn-primary btn-lg" style="margin-top: 50px;"type="submit" value="Start Here">
    </form>
    </div>
   
    
  </div>

<%- include('partials/footer'); -%>